{{ define "main" }}

{{ $builder := .Params.builder }}
{{ $page := . }}

{{ if $builder }}

{{ range $section := .Params.sections }}

{{ $partialPath := $section | printf "partials/%s.html" }}
{{ if templates.Exists ( $partialPath ) }}
  {{ partial $partialPath $page }}
{{ end }}

{{ end }}

{{ else }}
{{ "<!-- Default content layout -->" | safeHTML }}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="content-box">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ end }}